* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
  padding: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* Desktop: ikki ustun */
  gap: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: 0.2s;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.product h3 {
  font-size: 16px;
  color: #333;
  height: 40px;
  overflow: hidden;
}

.product p {
  color: #2d6cdf;
  font-weight: bold;
  font-size: 18px;
}

.cart {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.cart>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart h1 {
  margin-bottom: 5px;
}

.cart p {
  font-size: 14px;
  color: gray;
}

.total {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

button {
  padding: 10px 12px;
  border: none;
  border-radius: 8px;
  background: #2d6cdf;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  background: #1f4faa;
  transform: translateY(-2px);
}

button:active {
  transform: scale(0.96);
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}